# Private Key (no 0x prefix)
PRIVATE_KEY=

# RPC URLs (optional, defaults to hardhat.config.js)
OPBNB_RPC_URL=https://opbnb-mainnet-rpc.bnbchain.org
OPBNB_TESTNET_RPC_URL=https://opbnb-testnet-rpc.bnbchain.org:8545

# NodeReal API key (for contract verification on opBNBscan)
NODEREAL_API_KEY=
